<div style="text-align:center">
 
  <nav>
    <a routerLink="home" routerLinkActive="active">Home</a> |
    <a routerLink="about">About</a>|
    <a routerLink="dashboard">Dashboard</a>
  </nav>
  <router-outlet></router-outlet>
</div>


<parentChild></parentChild>

<h3>Making HTTP </h3>
<app-http-request></app-http-request>
<br><br>
<p> not working bcoz of cros</p>
<app-http-tutorial-point></app-http-tutorial-point>


<h3>Component services local data stored in array</h3>
<br>
<app-my-service></app-my-service>

Forms
<app-forms></app-forms>